.radio-custom {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked {
            &~.checkmark {
                background-color: $app-color;

                &:after {
                    display: block;
                }
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 50%;
        box-shadow: 0 0 2px $app-color;

        &:after {
            content: "";
            position: absolute;
            display: none;

            top: 6.5px;
            left: 7px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #fff;
        }
    }

    &:hover {
        input {
            &~.checkmark {
                background-color: #ccc;
            }
        }
    }
}